{% extends "base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                <div class="card">
                        <div class="card-body">
                                <div class="h2">
                                    {{ author.get_full_name }}
                                </div>
                                <div class="h3 text-muted">
                                     @{{ author.get_username }}
                                </div>
                        </div>
                        <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                        <div class="h6 text-muted">
                                        Подписчиков: XXX <br />
                                        Подписан: XXX
                                        </div>
                                </li>
                                <li class="list-group-item">
                                        <div class="h6 text-muted">
                                            Записей: {{ count_posts }}
                                        </div>
                                </li>
                        </ul>
                </div>
        </div>

        <div class="col-md-9">

            <!-- Пост -->  
                <div class="card mb-3 mt-1 shadow-sm">
                        <div class="card-body">
                                <p class="card-text">
                                        <a href="/{{ author.get_username }}/"><strong class="d-block text-gray-dark">@{{ author.get_username }}</strong></a>
                                        {{ post.text|linebreaksbr }}
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group ">
                                            {% if user == author %}
                                                <a class="btn btn-sm text-muted" href="/{{ author.get_username }}/{{ post.id }}/edit" role="button">Редактировать</a>
                                            {% endif %}
                                        </div>
                                        <small class="text-muted">{{ post.pub_date|date:"d M Y" }}</small>
                                </div>
                        </div>
                </div>
     </div>
    </div>
</main>

{% endblock %}
